# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# data files
*.json

# Vendored libraries should be included
# these are commented out until this is sorted
!dependencies/vulkan/lib/*.lib
!dependencies/vulkan/lib/*.so
!dependencies/vulkan/lib/*.a

# Executables
*.exe
*.out
*.app

build
client/out
rehtiLib/graphics/bin


# Visual studio files
*.vs
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
*.config

# CMAKE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
*.cmake
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Rehti lib graphics
*.pc

# Build directories
build